%script#tpl-presentation-view{type: 'text/template'}
  
  %label{for: 'input-field'}
    Name
    %input{:value => "{{ name }}", type: 'text'}
  %textarea#input-field
    {{ text }}
  %button.btn.btn-default.btn-lg.pull-right#startButton Start