%script#tpl-slideshow-view{type: 'text/template'}
  #results
    %span#matched{style: 'display: blue'}
    .items 
      %span#final_span{style: "display: black"} 
      %span#interim_span{style: "display: orange"}

  .images